.header__principal {
  width: 100%;
  grid-area: encabezado;
  background: #000000;

  .bg-light {
    background: rgb(246, 132, 0);
    background: linear-gradient(
      90deg,
      rgba(246, 132, 0, 1) 0%,
      rgba(255, 69, 0, 1) 50%,
      rgba(246, 132, 0, 1) 100%
    );
  }

  .header__titulo {
    color: #ffffff;
    text-align: center;
    text-shadow: 3px 3px 3px #000000;
    padding: 20px;
  }

  .logo {
    width: 200px;
    border-radius: 100px;
  }

  .nav-link:hover {
    background-color: #ff4500;
    transition: 0.8s;
  }
}
