/*Medidas Responsive*/

@media only screen and (max-width: 768px) {
  .contenido {
    .slider {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    width: 150px;
  }

  .contenido {
    .slider {
      width: 90%;
    }
  }

  .card__titulo {
    font-size: 15px;
  }

  /*Medidas Página Contacto*/
  .form__contac {
    width: 100vh;
  }

  /*Medidas Página Institucional*/
  .tarjetas__institucional {
    width: 40px;
  }

  /*Medidas Página Deportes*/
  .deportes {
    display: flex;
    flex-direction: column;
  }
}
