@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acme", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "contenido contenido contenido contenido"
    "pie pie pie pie";
}

/*Estilos Encabezado*/
.header__principal {
  width: 100%;
  grid-area: encabezado;
  background: #000000;
}

.bg-light {
  background: rgb(246, 132, 0);
  background: linear-gradient(
    90deg,
    rgba(246, 132, 0, 1) 0%,
    rgba(255, 69, 0, 1) 50%,
    rgba(246, 132, 0, 1) 100%
  );
}

.nav-link:hover {
  background-color: #ff4500;
  transition: 0.8s;
}

.header__titulo {
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 3px 3px #000000;
  padding: 20px;
}

.logo {
  width: 200px;
  border-radius: 100px;
}

.slide-in-fwd-center {
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 0.3s;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

/*Estilos Main*/
.contenido {
  background-image: url(./../Img/fondo_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-area: contenido;
  background-attachment: fixed;
}

.slider__titulo {
  color: #000000;
  background: rgb(255, 69, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
  text-align: center;
  font-size: 30px;
  margin: 15px;
  text-shadow: 2px 2px 2px #ffffff;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation-delay: 0.5s;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.slider {
  width: 30%;
  margin: auto;
  overflow: hidden;
}

.slider ul {
  display: flex;
  padding: 0;
  width: 300%;
  align-content: center;
  animation: cambio 3s infinite alternate linear;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  display: flex;
  align-content: center;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }

  75% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}

/*Estilos Seccion Deportes */
.sport__titulo_ {
  background: rgb(255, 69, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
  font-size: 30px;
  text-align: center;
  color: #000000;
  text-shadow: 2px 2px 2px #ffffff;
  margin: 15px;
}

.sport__conteiner {
  margin: 20px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  place-content: center;
}
.sport__conteiner {
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
}

.card__sport {
  width: 85%;
  background: rgb(255, 69, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card__sport:hover {
  transform: translateY(-10px);
}

.card__titulo {
  color: #ffffff;
  font-size: 30px;
  text-shadow: 2px 2px 2px #000000;
}

.sport {
  width: 30%;
  background-color: #ff4500;
  border: solid black;
  border-radius: 15px;
  cursor: default;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: transform 0.2s ease;
}

.sport:hover {
  transform: translateY(-10px);
}

.sport__imagen {
  width: 100%;
}

.sport__titulo {
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000000;
  padding: 15px;
}

/*Estilos Pie de Página*/
footer {
  width: 100%;
  grid-area: pie;
}

.footer__imagen {
  width: 40px;
  border: solid black;
  border-radius: 20px;
}

.gg {
  padding: 0 10px;
}

/*Medidas Responsive*/

@media only screen and (min-width: 360px) and (max-width: 480px) {
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .logo {
    width: 150px;
  }

  .slider {
    width: 90%;
  }

  .card__sport {
    width: 80px;
    padding: 10px;
    display: grid;
    place-items: center;
  }

  .sport__conteiner {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "voley basquet futbol"
      "ajedrez rugby tenis";
  }

  .voley {
    grid-area: voley;
  }
  .basquet {
    grid-area: basquet;
  }
  .futbol {
    grid-area: futbol;
  }
  .ajedrez {
    grid-area: ajedrez;
  }
  .rugby {
    grid-area: rugby;
  }
  .tenis {
    grid-area: tenis;
  }

  .card__titulo {
    font-size: 15px;
  }

  /*Medidas Página Contacto*/
  .form__contac {
    width: 100vh;
  }

  /*Medidas Página Institucional*/
  .tarjetas__institucional {
    width: 40px;
  }

  /*Medidas Página Deportes*/
  .deportes {
    display: flex;
    flex-direction: column;
  }
}

/*Estilos de Page Intitucional*/

.contenido__inst {
  background-image: url(./../Img/fondo_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.titulo__inst {
  background: rgb(255, 69, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
  font-size: 30px;
  margin: 15px;
  text-align: center;
  text-shadow: 2px 2px 2px #ffffff;
}

.card-body {
  width: 100%;
  background: rgb(255, 69, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
}

/*Estilos de Page Socios*/

.contenido__socios {
  background-image: url(./../Img/fondo_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.titulo__socio {
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 2px #ffffff;
  margin: 15px;
}

.form__socios {
  border: solid 3px #ffffff;
}

.text__socios {
  background-color: #00000098;
}

.table {
  background-color: #00000098;
  color: #ffffff;
}

/*Estilos de Page Deportes*/
.contenido__deportes {
  background-image: url(./../Img/fondo_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.titulo__depo {
  background: rgb(255, 69, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
  margin: 15px;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 2px #ffffff;
}

.tarjetas__deportes {
  width: 300px;
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
  border: solid 3px #ffffff;
  position: relative;
  transition: transform 0.2s ease;
}

.absolute__collapse {
  position: absolute;
  top: 0;
  left: 0;
  background: #000000b5;
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  border-bottom: 1px solid rgb(196, 192, 192);
}

.tarjetas__deportes:hover {
  transform: translateY(-10px);
}

.card-title {
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}

/*Estilos de Page Contactos */

.menu__contac {
  background-image: url(./../Img/fondo_1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contacto__titulo {
  background: linear-gradient(
    90deg,
    rgba(255, 69, 0, 1) 11%,
    rgba(207, 91, 8, 1) 83%,
    rgba(246, 132, 0, 1) 100%
  );
  color: #000000;
  text-align: center;
  text-shadow: 2px 2px 2px #ffffff;
}

.acordeon {
  border: solid 3px #ffffff;
}

.acorde {
  background-color: #ff4500;
}

.formulario {
  border: solid 3px #ffffff;
}
